<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>CV</title>
        <style type="text/css">
            span {
                display: inline-block;
                width: 200px;
                margin: 10px;
                text-align: center;
            }

        </style>
    </head>

    <body>
        <div align="center">
            <h2>CV create succeeded!</h2>

            <span>First name:</span><span th:text="${people.firstName}"></span><br/>

            <span>Last name:</span><span th:text="${people.lastName}"></span><br/>

            <span>Age:</span><span th:text="${people.age}"></span><br/>

            <span>Goal:</span><span th:text="${people.goal}"></span><br/>

            <span>Experience:</span><span th:text="${people.experience}"></span><br/>

        </div>
    </body>
</html>